<!DOCTYPE html>
<html>
  <head>
    <title>Oceans</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to 'All oceans', root_path %>
      <%= link_to 'New oceans', oceans_new_path %>
    </nav>
    
    <%= yield %>
  </body>
</html>
