<h1><%= @album.name %></h1>

<%= image_tag( @album.image, :class => "feature" ) %>

<% unless @album.band.blank? %>
  <p>Band: <%= @album.band.name %></p>
<% end %>

<p>Released: <%= @album.release_date.strftime "%A %B %e, %Y" unless @album.release_date.nil? %></p>

<% unless @album.tracklist.blank? %>
  <p>Highlight tracks: <%= @album.tracklist %></p>
<% end %>


<div class="controls">
  <%= link_to "Edit album", edit_album_path(@album) %>
  <%= link_to "Delete album", @album, :method => "delete", :data => { :confirm => "Are you sure you want to delete '#{ @album.name }' from the database?" } %>
</div>
