<h1>I regret what I said.</h1>
<p>Change it here and no-one will know, except us.</h1>

<form action="/log/index<%= @log['id']%>" method="post">
  Update screen name: <input type="text" name="screenname" value="<%= @log['screenname']%>">
  Change the week: <input type="text" name="week" value="<%= @log['week']%>">
  Change the day: <input type="text" name="day" value="<%= @log['day']%>">
  Re-write your message: <input type="text" name="message" value="<%= @log['message']%>">

  <button>CHANGE IT NOW</button>
</form>
