<h1><%= @work.title %></h1>



<%= image_tag(@work.image, :class => 'feature') %>
<ul>
  <!-- <li><%= link_to @work.title, work_path(@work.id)  %></li> -->
  <!-- min code would be
  link_to artist.name artist_path(artist) or
  link_to artist.name artist -->
  <li><%= @work.year %></li>
  <li><%= @work.medium %></li>
  <li><%= @work.style %></li>
  <% unless @work.artist.nil? %>
  <li><%= @work.artist.name  %></li>
  <% end %>
</ul>



<div class="controls">
  <%= link_to 'Delete Work', @work, :method => 'delete', :data => { :confirm => 'Are you sure?'} %>
  <%= link_to "Edit Work", edit_work_path(@work) %>

</div>
