<h2><%= @cymbal['name'] %></h2>

<p>Maker: <%= @cymbal['maker'] %></p>
<p>Type: <%= @cymbal['type'] %></p>
<p>Sound: <%= @cymbal['sound'] %></p>
<p>Size: <%= @cymbal['size'] %> inches</p>

<% unless @cymbal['video'].nil?  %>
  <% youtube_embed(@cymbal['video']) %>
  <%= @youtube_str %>
<% end  %>

<div class="controls">

  <div class="button">
    <a href="/cymbals/<%= @cymbal['id'] %>/delete">Delete cymbal from database</a>
  </div>

  <div class="button edit">
    <a href="/cymbals/<%= @cymbal['id'] %>/edit">Edit cymbal info</a>
  </div>

</div>
