<h2><%= @boulder.name %> <%= @boulder.grade %></h2>
<h3><%= @boulder.crag %>, <a href="/countries/<%= @boulder.country.id %>"><%= @boulder.country.name %></a></h3>
<p>First ascent by <%= @boulder.ascensionists %></p>
<img class="feature" src="<%= @boulder.image %>">

<div class="controls">
  <a href="/boulders/<%= @boulder.id %>/delete">Delete Boulder</a>
  <a href="/boulders/<%= @boulder.id %>/edit">Edit Boulder</a>
</div>
