<form action="/boulders/<%= @boulder.id %>" method="post">
  <input type="text" name="name" placeholder="Boulder name..." value="<%= @boulder.name %>">
  <input type="text" name="grade" placeholder="Grade..." value="<%= @boulder.grade %>">
  <input type="text" name="crag" placeholder="Crag..." value="<%= @boulder.crag %>">
  <input type="text" name="country" placeholder="Country..." value="<%= @boulder.country.name %>">
  <input type="text" name="ascensionists" placeholder="First sent by..." value="<%= @boulder.ascensionists %>">
  <input type="url" name="image" placeholder="http://..." value="<%= @boulder.image %>">
  <button>Update Boulder</button>
</form>
