<h2><%= @mountain.name %></h2>

<main>
  <table>
    <tr>
      <td>Location:</td>
      <td><%= @mountain.location %></td>
    </tr>
    <tr>
      <td>Height from base:</td>
      <td><%= number_with_delimiter( @mountain.base_height, :delimiter => ',' ) %>m</td>
    </tr>
    <tr>
      <td>Height above sea level:</td>
      <td><%= number_with_delimiter( @mountain.sea_height, :delimiter => ',' ) %>m</td>
    </tr>
    <tr>
      <td>Inspiring fact:</td>
      <td><%= @mountain.fact %></td>
    </tr>
  </table>
</main>

<aside class="side-image">
    <%= image_tag @mountain.image unless @mountain.image.blank? %>
</aside>

<div class="controls">
  <%= button_to 'Destroy mountain', mountain_path(@mountain.id), :method => "delete" %>
</div>
