<h2><%= @band.name %></h2>

<p>Country of origin: <%= @band.country %></p>

<p>Year formed: <%= @band.year %></p>

<% unless @band.image.empty? %>
  <img src="<%= @band.image %>" alt="Image of <%= @band.name %>">
<% end %>
