<h1><%= @user['name'] %></h1>
<h2><%= @user['username'] %></h2>

<a href="/users/<%= @user['id'] %>/edit">Edit</a><br>

<img src="<%= @user['image'] %>" alt="Profile Picture" class="profilepicture">

<h2>Cakes Eaten:</h2>
<div class="cakelist">
<% @cakes.each do |c| %>


  <div class="cakeitem">

    <a href="/cakes/<%= c['id'] %>"><%= c['name'] %></a>
    <div class="cakelistimgs" style="background-image: url(<%= c['image'] %>)">

    </div>
    <div class="controls">
      <a href="/cakes/<%= c['id'] %>/delete">Delete</a>
      <a href="/cakes/<%= c['id'] %>/edit">Edit</a>
    </div>
  </div>


<% end %>
</div>

<div class="">
  <a href="/users/<%= @user['id'] %>/addcake">Add a Cake</a>
</div>
