<main class="rock_paper_scissors">

  <h3>It's rock, paper, scissors!</h3>
  <p>Pick one now!</p>

  <form action="/rock_paper_scissors/:throw">

    <div class="options">

      <div class="form group">
        <%= label_tag(:choice_rock, "Rock:") %>
        <%= radio_button_tag(:choice, "rock") %>
      </div>
      <div class="form group">
        <%= label_tag(:choice_paper, "Paper:") %>
        <%= radio_button_tag(:choice, "paper") %>
      </div>
      <div class="form group">
        <%= label_tag(:choice_scissors, "Scissors:") %>
        <%= radio_button_tag(:choice, "scissors") %>
      </div>

    </div>

  <button>Go!</button>
  </form>

</main>
