<h1>Searching Result for <%= @title %> </h1>

<div class="">
  <img src="<%= @img%>" alt="">
   <p><strong>Authors:</strong><%= @authors %></p>
   <p class = "description"><strong>Description</strong><%= @description %></p>
   <p>Book Detail</p>
   <ul>
     <li><strong>Price:</strong> $<%= @price %> <%= @currencyCode %></li>
     <li><strong>Published Date: </strong> <%= @publishedDate %></li>
     <li><strong>Publisher: </strong> <%= @publisher%></li>
     <li><strong>Categories: </strong> <%= @categories%></li>
     <li><strong>Language: </strong><%= @language %></li>
     <li><strong>ISBN_13 : </strong><%= @indeandustryIdentifiers %></li>
     <li><strong>Everage Rating: </strong><%= @verageRating %></li>
   </ul>



</div>
