<h2>EDIT <%= @parent.name %></h2>

<form class="" action="/parents/<%= @parent.id %>" method="post">
<ul>
  <li>Name of Station : <input type="text" name="name" value="<%= @parent.name %>"></li>
  <li>Address of Station: <input type="text" name="mapref" value="<%= @parent.mapref %>"></li>
  <li>Image of Station: <input type="text" name="image" value="<%= @parent.image %>"></li>
  <li>Favorite Nearby Restaurant: <input type="text" name="fav_rest" value="<%= @parent.fav_rest %>"></li>
  <li>Address for Resaurant: <input type="text" name="fav_rest_mapref" value="<%= @parent.fav_rest_mapref %>"></li>
  <li>Image for Resaurant: <input type="text" name="fav_rest_img" value="<%= @parent.fav_rest_img %>"></li>
</ul>

  <button>Click to update record</button>
</form>
