<h2>This is the calculator page</h2>

<h3>num1 = <%= @num1 %> num2 = <%= @num2 %>. The operator is <%= @operator %></h3>

<h4>The result is <%= @result %> </h4>


<h3>num1a = <%= @num1a %> num2a = <%= @num2a %>. The operatora is <%= @operatora %></h3>

<h4>The resulta is <%= @resulta %> </h4>
