<%= form_for @director do |f|  %>
<fieldset>
  <%= f.label :name %>
  <%= f.text_field :name %>
</fieldset>

<fieldset>
  <%= f.label :nationality %>
  <%= f.text_field :nationality %>
</fieldset>

<fieldset>
  <%= f.label :image %>
  <%= f.url_field :image %>
</fieldset>

<fieldset>
  <label></label>
  <%= f.submit %>
</fieldset>
<% end %>
