
<div class="showfilmcontainer">
<div class="showfilm">
<h2><%= @film['title'] %></h2>
<p><%= @film['synopsis'] %></p>

<% unless @film['image'].nil? %>
<img class="feature" src="<%= @film['image'] %>" alt="<%= @film['title'] %>">
<% end %>
</div>

<div class="controls">
  <a href="/films/<%= @film['id'] %>/delete">Delete this film from the database</a>
  <a href="/films/<%= @film['id'] %>/edit">Edit this film</a>
</div>
</div>
