
<div class="editcontainer">

<div class="editfilmhead">
<h2>Edit this film</h2>
</div>

<form action="/films/<%= @film['id'] %>" method="post">
  <input type="text" name="title" placeholder="title" value="<%= @film['title'] %>">
  <input type="text" name="director" placeholder="director" value="<%= @film['director'] %>">
  <input type="text" name="genre" placeholder="genre" value="<%= @film['genre'] %>">
  <input type="text" name="year" placeholder="year" value="<%= @film['year'] %>">
  <input type="text" name="language" placeholder="language" value="<%= @film['language'] %>">
  <input type="text" name="synopsis" placeholder="brief synopsis" value="<%= @film['synopsis'] %>" class="synopsis">
  <input type="url" name="image" placeholder="image url" value="<%= @film['image'] %>">
  <button>Edit</button>
</form>

</div>
