<h2>You searched for "<%= @title %>"</h2>

<h3>Title found:</h3>
<p><%= @found_title %></p>

<h3>Author(s):</h3>
<p><%= @authors.join(', ') %></p>

<img src="<%= @image %>" />

<h3>Description:</h3>
<p><%= @description %></p>
